name: iOS IPA Builder

on:
  workflow_dispatch:

jobs:
  build:
    name: iOS IPA Builder
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.23.8
        uses: actions/setup-go@v4
        with:
          go-version: 'https://github.com/actions/go-versions/releases/download/1.23.8-7112568416/go-1.23.8-darwin-x64.tar.gz'
          check-latest: true

      - name: Print Go Version
        run: go version

      - name: Install gomobile + tidy
        run: |
          go mod tidy
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init

      - name: Bind to XCFramework
        run: |
          gomobile bind -target=ios -v -o ios_output/MyLib.xcframework ./mobileapi

      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: MyLib
          path: ios_output/MyLib.xcframework

